* {
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

h2 {
    margin-left: 20px;
}

.form {
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message {
    border: 1px solid grey;
    width: 80%;
    margin-right: .5%;
}

.button {
    width: 10%;
    background: rgb(5, 245, 185);
    border: none;
}

.messages {
    margin-bottom: 40px;
    list-style-type: none;
}